<b>Please repeat the experiment as often as you like.</b>
<br>
<br>
For easy access, bookmark the game!
<br>
<a class="bookmark-dragger" href="/#experiment01/{{user}}">
	<span>{{name}}'s Color Game</span>
</a>
<br>
<br>
<br>