@import "vendor/reset.css";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600");

html, body {
	width: 100%;
	height: 100%;
}

.experimentCanvas {
	height: 100%;
}

@import "preloader.css";

.button {
	$height: 40px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	letter-spacing: .1em;
	text-align: center;
	text-transform: uppercase;
	color: rgba(100,100,100,1);

	height: $height;
	width: 100px;
	margin: 20px auto;
	line-height: $height;

	background-color: rgba(180,180,180,1);
	border-radius: 5px;
	box-shadow: 0px 2px 0px rgba(100,100,100,1);
	border: 1px solid rgba(100,100,100,1);
	
	transition: color .3s ease,
							background .3s ease,
							border .3s ease,
							box-shadow .3s ease;

	&:active {
		line-height: $height + 2px;
		color: rgba(80,80,80,1);
		background-color: rgba(150,150,150,1);
		border: 1px solid rgba(50,50,50,1);
		box-shadow: 0px 0px 0px rgba(100,100,100,1);
		box-shadow: inset 0px 1px 3px rgba(100,100,100,1);
	}
}

.message-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background-color: rgba(255,255,255,0.75);
	background-color: rgba(100,100,100,0.75);
	
	.message {
		box-sizing: border-box;
		margin-left: 25%;
		margin-top: 10%;
		padding: 2em 2em 0.1em;
		width: 50%;
		// height: 50%;
		// background-color: rgba(200,200,200,0.9);
		background-color: rgba(255,255,255,1);
		border-radius: 8px;
	}
}

a {
	color: black;
}

h2, h3, p {
	font-family: 'Open Sans', sans-serif;
}

h2 {
	margin-top: 1em;
	text-align: center;
	font-size: 1.3em;
	font-weight: 300;
}

h3 {
	font-size: 2em;
	font-weight: 300;
	letter-spacing: .02em;
	margin-bottom: 0.5em;
}

b {
	font-weight: 700;
}

p {
	font-size: 1em;
	font-weight: 400;
}

.chosen-color {
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

hr {
	border: 0;
	color: rgba(150,150,150,1);
	background-color: rgba(150,150,150,1);
	height: 1px;
}

@import "modules/start";
@import "modules/experiment01";